


@media (max-width: 576px) { 

    .container{
        width: 400px;
    }
    .container-to-do-list input{
        width: 200px;
        font-size: x-small;
    }
    
}

@media (max-width: 476px) { 

    .container{
        width: 400px;
    }
    .container-to-do-list input{
        width: 300px;
        font-size: x-small;
    }
    .container-to-do-list{
        width: 450px;
        font-size: x-small;
    }

}

@media (max-width: 390px) {
 
    .container{
        width: 350px;
    }

}

@media (max-width: 290px) {
  
    .container{
        width: 270px;
    }

    .container-to-do-list input{
        width: 250px;
        font-size: x-small;
    }
    .container-to-do-list{
        width: 450px;
        font-size: xx-small;
    }

}